@media screen and (max-width:991px){
    
    //header
    // body > section.header > nav > div{

    // }
    .d-flex{
        visibility: hidden;
    }

    //swiper
    #swiper-slide-vsalon > div{
        padding-left: 0%;
        padding-right: 0%;
    }
    #swiper-slide-vsalon > div > div.row.justify-content-center > div > div{
        padding-left: 0%;
        padding-right: 0%;
    }
    
   
}