#root{
    p{
        font-size: 1rem;
    }
}


//header
.logo{
    height: 5vh;
    align-items: center;
}
.nav-link{
    font-weight: 600;
    font-size: 1rem;
}
.flag_VN{
    width: 1.3vw;
    height: 1.5vh; 
}
button.btn.btn-signin{
    width: 6vw;
    border-radius: 25px;
    background: linear-gradient(to right, #3BB54A, #7EC341);
    color: white;
    font-weight: 500;
}
button.btn.btn-signin:hover{
    background: linear-gradient(to left, #3BB54A, #7EC341);
}
button.btn.btn-login{
    width: 6vw;
    border-radius: 25px;
    border: 2px solid #3BB54A;
    color: #3BB54A;
    font-weight: 500;
}
button.btn.btn-login:hover{
    color: white;
    background: #3BB54A;
}

//slider
.text-intro{
    color: rgb(59, 59, 59);
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
}
.d-md-block{
    width: 25vw;
}
button.btn.btn-try{
    margin-top: 4vh;
    margin-bottom: 8vh;
    background: #3BB54A;
    color: white;
    border-radius: 25px;
    font-weight: 500;
    padding-left: 2vw;
    padding-right: 2vw;
}
button.btn.btn-try:hover{
    background: #7EC341;
}


//swiper slider
#swiper-slide-vsalon > div{
    justify-content: center;
    background-color: rgb(250, 250, 250);
}
#swiper-slide-vsalon > div{
    padding-top: 3rem;
    // padding-left: 5rem;
    // padding-right: 5rem;
}
#swiper-slide-vsalon > div >div{
    width: 70%;;
    // padding-left: 5rem;
    // padding-right: 5rem;
}
#swiper-slide-vsalon > div > div > div.row.justify-content-center > div > div{
    padding-left: 3rem;
    padding-right: 3rem;
}

div.swiper-slide.mb-5.h-auto > div.card.h-100{
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(139, 139, 139);
}
div.swiper-button-next.slider-arrow{
    width: 2rem;
    height: 2rem;
    background: #E1F3E3;
    border: 1px solid #3BB54A !important;
    border-radius: 30px;
}
div.swiper-button-prev.slider-arrow{
    width: 2rem;
    height: 2rem;
    background: #E1F3E3;
    border: 1px solid #3BB54A !important;
    border-radius: 30px;
}
.text-intro-benefit{
    color: #3b3b3b;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
.text-slogan{
    color: #3b3b3b;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}
div.swiper-button-prev.slider-arrow::after{
    color: #3BB54A;
    font-size: 1rem;
}
div.swiper-button-next.slider-arrow::after{
    color: #3BB54A;
    font-size: 1rem;
}

//information
p{
    font-size: 1rem;
    color: #3b3b3b;
    text-align: center;
}
#information > div{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;

}

.nav-link > div > i{
    margin-bottom: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    width: 4rem !important;
    height: 4rem;
    border-radius: 40px;
    color: #AEAEAE;
    background: #d4d4d4;
}
.nav-link.active > div > i{
    color: white;
    background: #3BB54A;
}

#tab-info > li{
    width: 13%;
    height: 5rem;
    align-items: center;
    border-left: 2px solid #d4d4d4;
}
.nav-link.active > div > p{
    color: #3BB54A;
    font-size: 1rem;
}

.nav-link > div > p::after{
    color: #3BB54A;
    font-size: 1rem;
}

//tab - content
#information > div > div{
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.tab-pane > div > div:nth-child(1) > img{
    height: 100%;
    width: 80%;
    border: 1px solid #3BB54A;
    border-radius: 13px;
    box-shadow: 15px 15px 15px 0 #7EC341;
}
.tab-pane > div > div:nth-child(2) > div{
    padding-top: 10% !important;
    align-items: center;
}
.tab-pane > div > div:nth-child(2) > div > p:nth-child(1){
    font-weight: 700;
    font-size: 1.1rem;
    text-align: left;
}
.tab-pane > div > div:nth-child(2) > div > p:nth-child(2){
    font-size: 1rem;
    text-align: left;
}

//package
#package > div{
    background: rgb(250, 250, 250);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#package > div > div.container{
    margin-top: 2rem;
}
#package > div > div.container > div > div > .container{
    position: relative;
    height: 100%;
    width: 80%;
    background: white;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 #d4d4d4;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}
.decoration-box{
    position: absolute;
    height: 33%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    border-radius: 0 0 150px 150px;
    background: #F5F6F9;

}
#package > div:nth-child(1) > div.container > div > div:nth-child(2) > div > div > img{
    width: 100%;
    height: 100%;
}
.pack-name{
    position: relative;
    font-size: 1.6rem;
    font-weight: 650;
    color: #3b3b3b;
}
.pack-price{
    position: relative;
    font-size: 1.7rem;
    font-weight: 650;
    color: #3b3b3b;
}
.pack-description{
    position: relative;
    color: #AEAEAE;
    height: 10%;
}
.sale-normal{
    position: relative;

}
.sale-normal > p{
    font-size: 0.9rem;
    text-align:left !important;
}
.sale-normal > p > i{
    text-align: center;
    font-size: 0.9rem;
    width: 1.3rem;
    height: 1.3rem;
    background: #3BB54A;
    border-radius: 20px;
    color: white;
}
.sale-premium > p{
    position: relative;
    text-align:left !important;
    font-size: 0.9rem;
}
.sale-premium > p > i{
    text-align: center;
    font-size: 0.9rem;
    width: 1.3rem;
    height: 1.3rem;
    background: goldenrod;
    border-radius: 20px;
    color: white;
}
.pack-name-premium{
    position: relative;
    font-size: 1.6rem;
    font-weight: 650;
    color: goldenrod;
}

#package > div > div.container > div > div > div > div.container > button{
    background: #3BB54A;
    border-radius: 35px;
    width: 80%;
    color: white;
}
#package > div > div.container > div > div > div > div.container > button:hover{
    background: #7EC341;
}

#package > div.footer-package.container-fluid{
    background-image: url("/assets/images/background_package.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#package > div.footer-package.container-fluid > div{
    width: 60%;
}
#package > div.footer-package.container-fluid > div > p{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
#package > div.footer-package.container-fluid > div:nth-child(2) > button{
    background: #3BB54A;
    border-radius: 35px;
    width: 10rem;
    color: white;
    border: 1px solid white;
}
#package > div.footer-package.container-fluid > div:nth-child(2) > button:hover{
    background: #7EC341;
}

// app-download
#app-download > div{
    background-image: url("/assets/images/background_download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#app-download > div > div{
    padding-top: 2rem;
}
.image-iphone{
    width: 80%;
    height: 90%;
}
